@charset "UTF-8";

@font-face{
	font-family: 'Economica';
	src: url("../fontes/Economica.ttf");
}

body{
	font-family: 'Economica';
}

header#titulo{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 260px;
	background-image: url("../imagens/fundotop.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

header#titulo img#logo{
	position: absolute;
	width: 330px;
	left: calc((100% - 330px)/2);
	z-index: 1;
	padding: 10px;
	padding-bottom: 37px;
}

header#titulo nav#menu{
	position: relative;
	width: 100%;
	top: -20px;
	height: 300px;
	left: 0;
	background-color: white;
	background-image: url("../imagens/fundotop.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

header#titulo nav#menu ul{
	position: relative;
	background-color: red;
	top: 60%;
	height: 60px;
	left: 0;
	width: 100%;
	padding: 0;
	text-align: center;
	z-index: 2;
}

header#titulo nav#menu ul li{
	border-right: 1px solid #191919;
	display: inline-block;
	width: 15%;
	text-align: center;
	padding: 15px 0;
	font-size: 20pt;
	color: white;
}

header#titulo nav#menu ul li img{
	width: 40px;
	left: -60px;
	text-align: right;
	position: absolute;
	top: -15px;
	display: inline-block;
}

header#titulo nav#menu ul li img#usuario{
	right: 55px;
}

header#titulo nav#menu ul li a{
	text-decoration: none;
	color: white;
	position: relative;
}

header#titulo nav#menu ul li a:hover{
	color: #C0C0C0;
}

header#titulo nav#menu ul li a.active{
	text-decoration: none;
	font-weight: bold;
	color: #191919;
	position: relative;
}

header#titulo nav#menu div#pesquisar{
	position: absolute;
	width: 19.4%;
	height: 80px;
	display: inline-block;
	padding: 15px 0;
	right: 0;
	top: 200px;
	z-index: 0;
	background-color: red;
	color: white;
	text-align: center;
	opacity: 0;
	transition: opacity 0.2s;
	box-shadow: 2px 2px 2px black;
	border-left: 1px solid black;
}

header#titulo nav#menu div#pesquisar input{
	position: relative;
	top: 10px;
	width: 90%;
	height: 30%;
	font: 12pt 'Economica';
	border: 2px outset #C0C0C0;
}

header#titulo nav#menu div#pesquisar input#btn1{
	position: relative;
	top: 20px;
	width: 50%;
	height: 35px;
	border: 4px outset white;
	font-size: 14pt;
	background-color: white;
}

header#titulo nav#menu div#login{
	position: absolute;
	width: 19.4%;
	height: 200px;
	display: inline-block;
	padding: 15px 0;
	right: 0;
	top: 200px;
	z-index: 0;
	background-color: red;
	color: white;
	text-align: center;
	opacity: 0;
	transition: opacity 0.2s;
	box-shadow: 2px 2px 2px black;
	border-left: 1px solid black;
}

header#titulo nav#menu div#login h3{
	display: inline-block;
}

header#titulo nav#menu div#login input{
	position: relative;
	top: 0;
	width: 60;
	height: 10%;
	font: 12pt 'Economica';
	border: 2px outset #C0C0C0;
	left: 10px;
}

header#titulo nav#menu div#login input#btn2{
	position: relative;
	top: 20px;
	width: 50%;
	height: 20%;
	border: 4px outset white;
	font-size: 14pt;
	background-color: white;
}

.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: visible;
	opacity: 1;
	z-index: 999;
}

.overlay:target{
	visibility: hidden;
	opacity: 0;
}

.popup{
	margin: 70px auto;
	padding: 20px;
	background-size: cover;
	border-radius: 5px;
	width: 50%;
	position: relative;
	transition: all 0.5s ease-in-out;
	height: 50%;
}

.popup a img {
	width: 93%;
	height: 400px;
	margin-top: 25px;
	border-radius: 30px;
}

.popup .close{
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover{
	color: #F00;
}

@media screen and (max-width: 700px){
	.popup{
		width: 70%;
	}
}

section{
	width: 100%;
	position: absolute;
	left: 0;
	height: 600px;
	display: block;
}

section h1{
	color: red;
	font-size: 30pt;
	text-align: center;
	margin: 20px;
}

section h3{
	color: red;
	text-align: center;
	font-weight: normal;
}

section div input{
	position: absolute;
	margin-top: 18px;
	padding: 8px;
	font: 18pt 'Economica';
	width: 150px;
	bottom: 20px;
	left: calc((100% - 150px)/2);
}

section#um{
	top: 231px;
	background-color: #191919;
	background-image: url("../imagens/marcadagua3.png");
}

section#um div, section#dois div{
	position: relative;
	float: left;
	width: 250px;
	height: 500px;
	left: calc((100% - 1250px)/2);
}

section#um div a{
	text-decoration: none;
}

section#um div h2{
	font-size: 18pt;
	color: white;
	margin: 10px;
	text-align: center;
}

section#um div img, section#dois div img{
	position: relative;
	top: 0;
	left: 10%;
	width: 80%;
	border: 4px outset #C0C0C0;
}

section#um div input{
	background-color: green;
	color: white;
	border: 2px outset green;
}

section#um div input:hover{
	color: black;
}

section#um div input:active{
	color: white;
}

section#dois{
	top: 836px;
	background-color: white;
	background-image: url("../imagens/marcadagua2.png");
}

section#dois div a{
	text-decoration: none;
}

section#dois div h2{
	font-size: 18pt;
	color: black;
	margin: 10px;
	text-align: center;
}

section#dois div input{
	background-color: gold;
	color: black;
	border: 2px outset gold;
}

section#dois div input:hover{
	color: white;
}

section#dois div input:active{
	color: black;
}

section#tres{
	top: 1436px;
	background-color: red;
}

section#tres h1{
	color: white;
}

section#tres h2{
	color: white;
	text-align: center;
	font-size: 22pt;
}

section#tres div img.lado1{
	width: 400px;
	position: absolute;
}

section#tres div img.lado2{
	width: 400px;
	right: 0;
	position: absolute;
}

section#tres div img.centro{
	width: 600px;
	position: relative;
}

footer#rodape{
	position: absolute;
	top: 2036px;
	background-color: #C0C0C0;
	width: 100%;
	left: 0;
	height: 420px;
	background-image: url("../imagens/fundo2.png");
	background-size: 100%;
}

footer#rodape div.redes{
	width: 100%;
	height: 130px;
	margin-top: 20px;
	color: white;
	text-align: center;
}

footer#rodape div.redes a{
	text-decoration: none;
	color: white;
}

footer#rodape div.redes a:hover{
	color: red;
	transition: color 0.2s;
}

footer#rodape div.redes a img.cima{
	position: relative;
	width: 96px;
	z-index: 1;
	opacity: 1;
	transition: opacity 0.2s;
}

footer#rodape div.redes a img.cima:hover{
	opacity: 0;
	transition: opacity 0.2s;
}

footer#rodape div.redes a img.baixo{
	position: relative;
	width: 96px;
	left: -96px;
	opacity: 1;
}

footer#rodape div.redes a h2{
	display: inline-block;
	text-align: left;
	position: relative;
	top: -20px;
	left: -90px;
}

footer#rodape div.redes hr{
	border-color: #C0C0C0;
}

footer#rodape div.logorodape{
	height: 270px;
	width: 442px;
	position: relative;
	float: left;
	left: calc((100% - 1289px)/2);
}

footer#rodape div.logorodape img{
	width: 400px;
	position: relative;
	top: 42px;
	left: 42px;
	opacity: 1;
	transition: opacity 0.2s;
}

footer#rodape div.logorodape img:hover{
	opacity: 0.7;
	transition: opacity 0.2s;
}

footer#rodape div.info{
	height: 250px;
	width: 320px;
	position: relative;
	float: left;
	padding: 10px;
	left: calc((100% - 1289px)/2);
}

footer#rodape div.info h2{
	color: red;
	margin: 10px;
}

footer#rodape div.info h3{
	margin: 0;
	margin-left: 10px;
}

footer#rodape div.info hr.vertical{
	height: 220px;
	width: 0;
	border-color: #C0C0C0;
	position: relative;
	top: -220px;
	left: 170px;
}

footer#rodape div.paginas{
	height: 250px;
	width: 200px;
	position: relative;
	float: left;
	left: calc((100% - 1262px)/2);
}

footer#rodape div.paginas ul{
	width: 450px;
	list-style-type: none;
	top: 5px;
	position: relative;
}

footer#rodape div.paginas ul li{
	font-size: 18pt;
	margin: 10px;
	font-weight: bold;
}

footer#rodape div.paginas ul li a{
	text-decoration: none;
	color: black;
	transition: color 0.2s;
}

footer#rodape div.paginas ul li a:hover{
	color: red;
	transition: color 0.2s;
}

footer#rodape div.paginas hr.vertical{
	height: 220px;
	width: 0;
	border-color: #C0C0C0;
	position: relative;
	top: -205px;
	left: 100px;
}

footer#rodape div.design{
	height: 250px;
	width: 200px;
	position: relative;
	float: left;
	left: calc((100% - 1262px)/2);
}

footer#rodape div.design h2{
	margin-left: 10px;
}

footer#rodape div.design h2 a{
	text-decoration: none;
	color: red;
	transition: color 0.2s;
}

footer#rodape div.design h2 a:hover{
	color: white;
	transition: color 0.2s;
}